# Requirements for running in production. See dev-requirements.txt for
# other requirements.
django<1.10
django-annoying
django-crispy-forms
django-debug-toolbar
django-email-log
django-extensions
django-ucamwebauth
requests
future

# Testing
mock
whitenoise

# Required for the heroku buildpack to install libffi
cffi
cryptography
dj-database-url==0.4.0
psycopg2
