{% extends "mentoring/base.html" %}
{% load static from staticfiles %}

{% block head %}
{{ block.super }}
{% include "mentoring/include/head.html" %}
{% endblock %}

{% block body %}
<body class="campl-theme-2">
<!--[if lt IE 7]>
<div class="lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<div class="lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<div class="lt-ie9">
<![endif]-->

{% include "mentoring/include/global_header.html" %}

<div class="campl-row campl-page-header">
    <div class="campl-wrap clearfix">
        <div class="campl-column12">
            <div class="campl-content-container">
                <p class="campl-page-title">
                    {% block title %}{% endblock %}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="campl-row campl-page-header">
    {% block pageheader %}
    <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
        <div class="campl-local-navigation-container">
            <ul class="campl-unstyled-list">
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Admin interface</a></li>
                {% endif %}
                {% if cued_member %}
                <li><a href="#">
                        {{ cued_member.user.get_full_name }}
                        ({{ cued_member.crsid }})
                    </a>
                    <ul class="campl-unstyled-list local-dropdown-menu">
                        <li><a href="{% url 'raven_logout' %}">Log out</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock %}
</div>

{% block contentwrapper %}
<div class="campl-main-content">
    <div class="campl-row campl-content">
        <div class="campl-wrap clearfix">
            <div class="campl-content-container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% include "mentoring/include/local_footer.html" %}
{% include "mentoring/include/global_footer.html" %}

<!--[if lte IE 8]>
</div>
<![endif]-->
<script type="text/javascript" src="{% static "mentoring/javascripts/libs/ios-orientationchange-fix.js" %}"></script>
<script type="text/javascript" src="{% static "mentoring/javascripts/libs/jquery-min.js" %}"></script>
<script type="text/javascript" src="{% static "mentoring/javascripts/libs/modernizr.js" %}"></script>
<script type="text/javascript" src="{% static "mentoring/javascripts/custom.js" %}"></script>
</body>
{% endblock %}
