{% load static from staticfiles %}
        </div>
    </div>
</div>

<div class="campl-row campl-local-footer">
    <div class="campl-wrap clearfix">
        <div class="campl-column3 campl-footer-navigation">
            <div class="campl-content-container campl-navigation-list">
                <h3><a href="">About the Scheme</a></h3>
                <ul class="campl-unstyled-list">
                    <li>
                        <a href="">Lorem ipsum dolor</a>
                    </li>
                    <li>
                        <a href="">Sit amet</a>
                    </li>
                    <li>
                        <a href="">Consectetur adipisicing elit</a>
                    </li>
                    <li>
                        <a href="">Sed do eiusmod</a>
                    </li>
                    <li>
                        <a href="">Tempor incididunt</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="campl-column3 campl-footer-navigation">
            <div class="campl-content-container campl-navigation-list">
                <h3><a href="#">About the EDPC</a></h3>
                <ul class="campl-unstyled-list">
                    <li>
                        <a href="">Quis nostrud exercitation</a>
                    </li>
                    <li>
                        <a href="">Ullamco laboris nisi</a>
                    </li>
                    <li>
                        <a href="">Ut aliquip ex ea commodo</a>
                    </li>
                    <li>
                        <a href="">Duis aute irure dolor</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="campl-column3 campl-footer-navigation">
            <div class="campl-content-container campl-navigation-list">
                <h3><a href="">Mentoring links</a></h3>
                <ul class="campl-unstyled-list">
                    <li>
                        <a href="">Excepteur sint occaecat</a>
                    </li>
                    <li>
                        <a href="">Cupidatat non proident</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="campl-column3 campl-footer-navigation last">
            <div class="campl-content-container campl-navigation-list">
                <h3><a href="">Resources</a></h3>
                <ul class="campl-unstyled-list">
                    <li>
                        <a href="">Sunt in culpa qui officia</a>
                    </li>
                    <li>
                        <a href="">Deserunt mollit anim</a>
                    </li>
                    <li>
                        <a href="">Id est laborum</a>
                    </li>
                    <li>
                        <a href="">Duis aute irure dolor</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include "mentoring/include/global_footer.html" %}

<!--[if lte IE 8]>
</div>
<![endif]-->
<script type="text/javascript" src="{% static "mentoring/javascripts/libs/ios-orientationchange-fix.js" %}"></script>
<script type="text/javascript" src="{% static "mentoring/javascripts/libs/jquery-min.js" %}"></script>
<script type="text/javascript" src="{% static "mentoring/javascripts/libs/modernizr.js" %}"></script>
<script type="text/javascript" src="{% static "mentoring/javascripts/custom.js" %}"></script>
