{% load static from staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="description" content="" />
<meta name="author" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
<link rel="shortcut icon" href="{% static "mentoring/favicon.ico" %}" />
<link rel="apple-touch-icon" href="{% static "mentoring/apple-touch-icon.png" %}" />

<!-- CSS : implied media="all" -->
<link rel="stylesheet" href="{% static "mentoring/stylesheets/full-stylesheet.css" %}" />
<link rel="stylesheet" href="{% static "mentoring/stylesheets/styleguide.css" %}" />

<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
