<table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
    <thead>
        <tr>
            <th style="width: 8em">CRSid</th>
            <th style="width: 50%">Name</th>
            <th style="width: 4em">Division</th>
            <th style="width: 50%">Research group</th>
        </tr>
    </thead>
    <tbody>
    {% for m in members %}
        <tr>
            <td>{{ m.user.username }}</td>
            <td>{{ m.user.get_full_name }}</td>
            <td>{{ m.research_group.division.letter }}</td>
            <td>{{ m.research_group.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
