{% load static from staticfiles %}
{% comment %}
Place favicon.ico & apple-touch-icon.png in the root of your domain and
delete these references
{% endcomment %}
<link rel="shortcut icon" href="{% static "projectlight/favicon.ico" %}" />
<link rel="apple-touch-icon" href="{% static "projectlight/apple-touch-icon.png" %}" />

<!-- CSS : implied media="all" -->
<link rel="stylesheet" href="{% static "projectlight/stylesheets/full-stylesheet.css" %}" />
<link rel="stylesheet" href="{% static "projectlight/stylesheets/styleguide.css" %}" />
<link rel="stylesheet" href="{% static "projectlight/stylesheets/custom.css" %}" />


<script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">  document.documentElement.className += " js";</script>
