{% extends "frontend/layout/page.html" %}

{% block maincontent %}

<h1>Your mentors</h1>

{% with user.mentee_relationships.active as relationships %}

{% if relationships %}
<table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
    <thead>
        <tr>
            <th>CRSid</th>
            <th width="100%">Name</th>
        </tr>
    </thead>
    <tbody>
{% for r in relationships %}
    <tr>
        <td>{{ r.mentor.username }}</td>
        <td>{{ r.mentor.get_full_name }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
    <p>You do not currently have any mentors.</p>
{% endif %}

{% endwith %}

<h1>Your mentees</h1>

{% with user.mentor_relationships.active as relationships %}

{% if relationships %}
<table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
    <thead>
        <tr>
            <th>CRSid</th>
            <th width="100%">Name</th>
        </tr>
    </thead>
    <tbody>
{% for r in relationships %}
    <tr>
        <td>{{ r.mentee.username }}</td>
        <td>{{ r.mentee.get_full_name }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
    <p>You do not currently have any mentees.</p>
{% endif %}

{% endwith %}

{% endblock %}
