{% extends "frontend/layout/page.html" %}
{% load crispy_forms_tags %}
{% load frontend_tags %}

{% block maincontent %}

<h1>Your mentors</h1>

{% if mentors %}
    {% member_table mentors %}
{% else %}
    <p>You do not currently have any mentors.</p>
{% endif %}

<h1>Your mentees</h1>

{% if mentees %}
    {% member_table mentees %}
{% else %}
    <p>You do not currently have any mentors.</p>
{% endif %}

<h1>Mentorship preferences</h1>

{% crispy preferences_form preferences_form.helper %}

{% endblock %}
