/* Custom CSS for EDPC mentoring scheme frontend. */

/* Don't colour links in table headings. (They are used to sort columns.) */
th a, th a:visited, th a:hover { color: inherit; }
/* HACK: make hovered links take on a little of the table heading colour. */
th a:hover { opacity: 0.8; }

th.orderable:after { float: right; content: "\25b4\25be"; }
th.orderable.asc:after { content: "\25b4"; }
th.orderable.desc:after { content: "\25be"; }
